- var events = require("./data/blockevent.json");

each event in events
  if event.highlight == true
    .blockevent-item.highlight
      .event-date
        | #{event.date.human}
      .event-name
        a(href=event.url+'?utm_source=blockevent.co' target='_blank')
          | #{event.name}
      .event-location
        | #{event.location}
      .event-action
        a.btn.btn-sm.btn-primary(href=event.url+'?utm_source=blockevent.co' target='_blank')
          | Register
  else
    .blockevent-item
      .event-date
        | #{event.date.human}
      .event-name
        a(href=event.url+'?utm_source=blockevent.co' target='_blank')
          | #{event.name}
      .event-location
        | #{event.location}
      .event-action