- var events = require("./data/blockevent.json");
  
| BEGIN:VCALENDAR
| PRODID:-//blockevent.co//ical//blockchain
| VERSION:2.0
| CALSCALE:GREGORIAN
| METHOD:PUBLISH
| X-WR-CALNAME:Blockchain Conferences and Events

each event in events
  | BEGIN:VEVENT
  | UID:#{event.hash}@blockevent.co
  | DTSTAMP;VALUE=DATE-TIME:20180306T010000Z
  | DTSTART;VALUE=DATE:#{event.date.start}
  | DTEND;VALUE=DATE:#{event.date.end}
  | X-FUNAMBOL-ALLDAY:1
  | X-MICROSOFT-CDO-ALLDAYEVENT:TRUE
  | CLASS:PUBLIC
  | SUMMARY:#{event.name}
  | URL:#{event.url}
  | LOCATION:#{event.location}
  | DESCRIPTION:#{event.description}
  | X-MICROSOFT-CDO-BUSYSTATUS:FREE
  | STATUS:CONFIRMED
  | PRIORITY:1
  | SEQUENCE:1
  | END:VEVENT

| END:VCALENDAR