- var events = require("./data/blockevent.json")

| BEGIN:VCALENDAR
| VERSION:2.0
| PRODID:-//BlockEvent.co//BlockEvent Calendar 1.0//EN
| METHOD:PUBLISH
| X-WR-CALNAME:Blockchain Conferences & Events

each event in events
  | BEGIN:VEVENT
  | UID:#{event.hash}
  | DTSTAMP;VALUE=DATE-TIME:#{event.date.dtstamp}
  | DTSTART;VALUE=DATE:#{event.date.start}
  | DTEND;VALUE=DATE:#{event.date.icsend}
  | CLASS:PUBLIC
  | DESCRIPTION:#{event.description}
  | LOCATION:#{event.location}
  | SUMMARY:#{event.name}
  | URL:#{event.url}
  | TRANSP:TRANSPARENT
  | STATUS:CONFIRMED
  | SEQUENCE:0
  | END:VEVENT
|
| END:VCALENDAR